<a [routerLink]="['/song-details', artist, title, id]">
  <div class="max-w-xs mx-auto rounded overflow-hidden shadow-lg bg-white cursor-pointer">
    <img class="w-full" [src]="poster" [alt]="title">
  
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ title }}</div>
      <p class="text-gray-700 text-base">{{ artist }}</p>
    </div>
  
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" *ngFor="let tag of genre">{{ tag }}</span>
    </div>
  </div>
</a>
